{% extends 'mascotitas/base.html' %}

{% block contenido %}
{% load crispy_forms_tags %}
<br>
<br>
<div class="row">
    <div class="col-12 col-md-6 offset-md-3">
        <div class="cars">
            <div class="car-body">
        <h2>Contactanos!</h2>
        <hr>
        <form action="" class="" method="post">
            {% csrf_token %}       
            {{ form | crispy }}       
        <br>
        <div class="d-flex justify-contend-end">
            <input type="reset" value="Cancelar" class="btn btn-secondary">   
            &nbsp;
            <button type="submit" id="btnEnviar" class="btn btn-secondary">Enviar</button>    
        </div>
        
        </form>
        {{mensaje}}
    </div>
</div>
</div>
</div>
<table id="tablacontactos">

</table>
{% endblock %}