{% extends 'mascotitas/base.html' %}
{% block contenido %}
{% load humanize %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pagina principal</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'mascotitas/css/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'mascotitas/css/owl.theme.default.min.css' %}">
    <link rel="stylesheet" href="{% static 'mascotitas/css/estilos.css' %}">
</head>
<body>
    <h2>Pagina Principal</h2>
    <h1 id="title">Novedades</h1>
    <div class="owl-container">
    <div class="owl-carousel owl-theme">
        <div class="item" id="item"><h4>1</h4></div>
        <div class="item" id="item"><h4>2</h4></div>
        <div class="item" id="item"><h4>3</h4></div>
        <div class="item" id="item"><h4>4</h4></div>
        <div class="item" id="item"><h4>5</h4></div>
        <div class="item" id="item"><h4>6</h4></div>

    </div>
    </div>
<br>
<br> 
<div class="producto">
    {%for p in productos %}
    <div class="producto">
        <div class="contenedor_producto" id="contenedor">
            <div>
            {% if p.imagen %}
            <img src="{{ p.imagen.url }}" alt="imagen producto" width="20%" height="20%">
            {% endif %}
            <div class="detalle" >
                <h5>{{ p.marca | capfirst }}</h5>
                <h2>{{ p.nombre | title }}</h2>
                <h3>${{ p.precio | intcomma }}</h3>
            </div>
        </div>
        </div>
    </div>
</div>

</body>
{% endfor %}
<script src="{% static 'mascotitas/js/jquery.min.js' %}"></script>
<script src="{% static 'mascotitas/js/owl.carousel.min.js' %}"></script>
<script src="{% static 'mascotitas/js/main.js' %}"></script>

</html>
{% endblock %}