{% extends 'mascotitas/base.html' %}
{% block contenido %}
{% load humanize %}


<title>Galeria de Productos</title>
{% load static %}
<link rel="canonical" href="https://getbootstrap.com/docs/5.2/examples/album/">
<link rel="stylesheet" href="{% static 'mascotitas/css/bootstrap.min.css' %}">
<link rel="stylesheet" href="{% static 'mascotitas/css/estilos.css' %}">
<div class="album py-5 bg-light">
    <div class="container">

      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <div class="col">
          <div class="card shadow-sm">
            {%for p in productos %}
            {% if p.imagen %}
            <img src="{{ p.imagen.url }}" alt="imagen producto" width="100%" height="100%">
            {% endif %}
            <div class="card-body">
              <p class="card-text"><div class="detalle" >
                <h5>{{ p.marca | capfirst }}</h5>
                <h2>{{ p.nombre | title }}</h2>
                <h3>${{ p.precio | intcomma }}</h3>
            </div></p>
              <div class="d-flex justify-content-between align-items-center">
                  <button type="button" class="btn btn-sm btn-outline-secondary">Agregar</button>
                </div>
                <small class="text-muted">9 unidades disponibles</small>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
        <script src="{% static 'mascotitas/js/bootstrap.bundle.min.js' %}"></script>
 {% endblock %}