{% extends 'mascotitas/base.html' %}
{% block contenido %}
{% load humanize %}


<title>Galeria de Productos</title>
{% load static %}
<link rel="canonical" href="https://getbootstrap.com/docs/5.2/examples/album/">
<link rel="stylesheet" href="{% static 'mascotitas/css/bootstrap.min.css' %}">
<link rel="stylesheet" href="{% static 'mascotitas/css/estilos.css' %}">

{%for p in productos %}
<div class="card" style="width: 18rem;">
    {% if p.imagen %}
    <img src="{{ p.imagen.url }}" alt="imagen producto" width="80%" height="80%">
    {% endif %}
    <div class="card-body">
      <p class="card-text">
        <h5>{{ p.marca | capfirst }}</h5>
        <h2>{{ p.nombre | title }}</h2>
        <h3>${{ p.precio | intcomma }}</h3>
      </p>
    <div class="d-flex justify-contend-end">  
    <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
    </div>
    </div>
  </div>
        {% endfor %}
        <script src="{% static 'mascotitas/js/bootstrap.bundle.min.js' %}"></script>
 {% endblock %}