{% extends 'mascotitas/base.html' %}
{% block contenido %}
{% load humanize %}

<title>Galeria de Productos</title>
{% load static %}
<link rel="canonical" href="https://getbootstrap.com/docs/5.2/examples/album/">
<link rel="stylesheet" href="{% static 'mascotitas/css/bootstrap.min.css' %}">
<link rel="stylesheet" href="{% static 'mascotitas/css/estilos.css' %}">



<div class="container">

  <div style="float:right">  
   {% include "mascotitas/carrito/widget.html" %}
  </div>

<div class="row justify-content-md-center">
  <div class="col-md-auto">
    <div class="row">
      {%for p in productos %}
        <div class="col-md-3 col-sm-12 col-lg-4">
          <div class="card" style=" margin: 5px 5px;">
            <img src="{{ p.imagen.url }}" style="width: 100%;" class="card-img-top" alt="{{ p.name}}" />
            <div class="card-body">
              <h5 class="card-tittle"> {{ p.nombre }}</h5>
              <p class="card-text">
                <h5>{{ p.marca | capfirst }}</h5>
                <h5>${{ p.precio | intcomma }}</h5>
              </p>             
            </div>
            <div class="card-footer text-center">
              <a href="{% url 'carrito:agregar' p.id %}" class="btn btn-success">Añadir al carrito</a>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</div>
</div>
  
<script src="{% static 'mascotitas/js/bootstrap.bundle.min.js' %}"></script>
 {% endblock %}