{% extends 'mascotitas/base.html' %}
{% block contenido %}
{% load humanize %}
<div class="card">
    <div class="card-body"></div>
    <h2>Listado de productos</h2>
    <hr>
    <table class="table table-striped table-hover table-responsive-sm">
        <tr>
            <th>Nombre del producto</th>
            <th>Precio</th>
            <th>Marca</th>
            <th>¿Es nuevo?</th>
        </tr>
        {% for p in productos %}
        <tr>
            <td>{{ p.nombre | title }}</td>
            <td>${{ p.precio | intcomma }}</td>
            <td>{{ p.marca | title }}</td>
            <td>
                {% if p.nuevo %}
                SI
                {% else %}
                NO
                {% endif %}
            </td>
            <td>
                <a href="{% url 'modificar_producto' p.id %}" class="btn btn-info btn-sm">Modificar</a>
                <a href="{% url 'eliminar_producto' p.id %}" class="btn btn-danger btn-sm">Eliminar</a>
            </td>
        </tr>
        {% endfor %}
    </table>
</div>
    <div>
    <p align="right">    
    <a href="{% url 'agregar_producto'  %}" class="btn btn-success btn-sm">Añadir nuevo producto</a>
    </p>
    </div>
</div>
</div>
{% endblock %}